# compiled files #
###################
*.o
*.lo
*.so
*.so*
*.a
*.la
.deps
.libs


# coverage files #
##################
*.cov
coverage


# backup files #
################
.*.sw*


# compile/build directories #
#############################
build/
docs/
.settings


# ide files #
#############
.project
.cproject
org.eclipse.core.runtime.prefs
ide
tags
cscope.*


# project specific#
##################
.config
.config.old
bin/
include/
ipc/src/ipc.d
ipc/src/libipc.map
pcd/src/condchk.d
pcd/src/errlog.d
pcd/src/except.d
pcd/src/failact.d
pcd/src/main.d
pcd/src/misc.d
pcd/src/parser.d
pcd/src/parser/src/graph.d
pcd/src/parser/src/main.d
pcd/src/parser/src/outputhdr.d
pcd/src/parser/src/parser.d
pcd/src/parser/src/pcdparser
pcd/src/parser/src/pcdparser.map
pcd/src/pcd
pcd/src/pcd.map
pcd/src/pcd_api.d
pcd/src/pcdapi/src/libpcd.map
pcd/src/pcdapi/src/pcdapi.d
pcd/src/process.d
pcd/src/rules_db.d
pcd/src/timer.d
scripts/configs/auto.conf
scripts/configs/pcd_autoconf.h
scripts/kconfig/conf
scripts/kconfig/lex.backup
scripts/kconfig/lex.zconf.c
scripts/kconfig/lkc_defs.h
scripts/kconfig/lxdialog/lxdialog
scripts/kconfig/mconf
scripts/kconfig/zconf.tab.c

